 
<div  style="max-width: 100px;height: 100px;">
	<div class="upload-file-container" >

			<img id="preview_image" src="#" alt="" style="max-width: 100px;height: 100px;" />  

                      //////here images are going to display

             <div class="upload-file-container-text" style="max-width: 100px;height: 100px;">
		<div class = 'one_opacity_0'>
			<input type="file" id="patient_pic" label = "add"  ng-model="image_icon_files"/>
		</div>
		<button type="button" ng-click="on_post_s3_object()"> Upload image </button>
	  </div>
	</div>
</div>


